### Connect to the AML workspace

In [5]:
import azureml.core
from azureml.core import Workspace

# Load the workspace from the saved config file
ws = Workspace.from_config()
print('Ready to use Azure ML {} to work with {}'.format(azureml.core.VERSION, ws.name))

Ready to use Azure ML 1.47.0 to work with mlw-test

### Get the default datastore

In [6]:
default_ds = ws.get_default_datastore()

### Create a dataset from the diabetes data uploaded to the default datastore

In [7]:
from azureml.core import Dataset

# Create a tabular dataset from the path on the datastore (this may take a short while)
tab_data_set = Dataset.Tabular.from_delimited_files(path=(default_ds, 'data-diabetes/*.csv'))

# Display the first 20 rows as a Pandas dataframe
tab_data_set.take(20).to_pandas_dataframe()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0
5,1619297,0,82,92,9,253,19.724160,0.103424,26,0
6,1660149,0,133,47,19,227,21.941357,0.174160,21,0
7,1458769,0,67,87,43,36,18.277723,0.236165,26,0
8,1201647,8,80,95,33,24,26.624929,0.443947,53,1
9,1403912,1,72,31,40,42,36.889576,0.103944,26,0
10,1943830,1,88,86,11,58,43.225041,0.230285,22,0
11,1824483,3,94,96,31,36,21.294479,0.259020,23,0
12,1848869,5,114,101,43,70,36.495320,0.079190,38,1
13,1669231,7,110,82,16,44,36.089293,0.281276,25,0
14,1683688,0,148,58,11,179,39.192076,0.160829,45,0
15,1738587,3,109,77,46,61,19.847312,0.204345,21,1
16,1884264,3,106,64,25,51,29.044573,0.589188,42,1
17,1485251,1,156,53,15,226,29.786192,0.203824,41,1
18,1536832,8,117,39,32,164,21.230996,0.089363,25,0
19,1438701,3,102,100,25,289,42.185720,0.175593,43,1

In [8]:
# Register the tabular dataset
try:
    tab_data_set = tab_data_set.register(workspace=ws, 
                                        name='Diabetes data asset',
                                        description='Diabetes dataset as a data asset',
                                        tags = {'format':'CSV'},
                                        create_new_version=True)
except Exception as ex:
    print(ex)

Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'
Failed to extract subscription information, Exception=AttributeError; 'Logger' object has no attribute 'activity_info'